<header class="header">
    <div class="header__list">
        <div
            class="btn btn-md btn-white header__notification"
            [ngClass]="{ 'header__notification--active': hasNewNotification }"
        >
            <img
                width="18"
                height="18"
                alt="notification"
                src="./assets//images//icons/notification.svg"
            />
        </div>
        <div class="header__user-info" *ngIf="userProfile">
            <span *ngIf="userProfile.cardsPlan" class="badge header__user-info__cards-plan">
                {{ userProfile.cardsPlan }}
            </span>
            <div class="header__user-info__container">
                <img src="./assets/images/avatar.png" width="40" height="40" alt="avatar" />
                <div class="header__user-info__name-container">
                    <span class="header__user-info__name" *ngIf="userProfile.fullName">
                        {{ userProfile.fullName }}
                    </span>
                    <span *ngIf="userProfile.role" class="header__user-info__role">
                        {{ userProfile.role }}
                    </span>
                </div>
            </div>
        </div>
        <language-selector></language-selector>
    </div>
</header>
