@import './variables';

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 103px;
    &__list {
        display: flex;
        flex-direction: row-reverse;
    }
    &__notification {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
        &--active {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-color: $danger;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                top: 12px;
                right: 12px;
            }
        }
    }
    &__user-info {
        padding: 0 16px;
    }
}
