<div [ngStyle]="{ 'border-left-color': 'red' }" class="card">
    <div class="card__content">
        <h4 class="card__content__title">
            Tammam Altammam
            <span
                [ngStyle]="{ 'background-color': 'red' }"
                class="card__content__title__state"
            ></span>
        </h4>
        <span class="card__content__subtitle">Marketing Department</span>
        <span class="card__content__card-number">26,003.00SAR</span>
        <span class="card__content__state">Card Balance</span>
    </div>
    <div class="card__detail">
        <img src="./assets/images/dashboard/card.png" alt="card" width="116" height="73" />
        <div class="card__detail__date">
            <span class="card__detail__date__text">Exp. date</span>
            <span class="card__detail__date__time">12 / 26</span>
        </div>
    </div>
</div>
