@import './variables';
.btn {
    border-radius: $radius;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    border-color: transparent;
}

.btn-md {
    width: 40px;
    height: 40px;
}

.btn-lg {
    width: 44px;
    height: 44px;
}

.btn-white {
    @extend .btn;
    background-color: $white;
}

.btn-light {
    @extend .btn;
    background-color: $gray-10;
}

.btn-primary {
    @extend .btn;
    background-image: linear-gradient(to right, $primary_1, $primary_2);
}

.btn-secondary {
    @extend .btn;
    background-color: $secondary;
}

.badge {
    border-radius: 12px; //sm
    border: 1px solid $gray-100;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 4px 12px;
    line-height: 16.8px;
}
