$gray-100: #171717;
$gary-80: #404040;
$gray-20: #e5e5e5;
$gray-10: #f5f5f5;

$primary_1: #f09819;
$primary_2: #edde5d;
$secondary: $gray-100;
$danger: #df2e2e;
$success: #009877;
$violet: #8b5cf6;

$dark: #000000;
$white: #ffffff;

$radius: 15px;

$headerHight: 103px;
$sidebarWidth: 232px;
