<div class="dashboard">
    <div class="dashboard__section-1">
        <card-panel></card-panel>
        <div class="dashboard__banner">
            <div>
                <h3 class="dashboard__banner__title">5 Corporate Cards - 499 SAR only!</h3>
                <p class="dashboard__banner__content">
                    Hey Alan, you don’t have any cards now Create card now to start use all
                    features.
                </p>
                <button class="btn-primary dashboard__banner__btn">Upgrade Plan</button>
            </div>
            <img
                src="./assets/images/dashboard/cards-plans.png"
                width="125"
                height="97"
                alt="cards plans"
            />
        </div>
        <top-categories></top-categories>
    </div>
    <div class="dashboard__section-2">
        <top-spending-card></top-spending-card>
    </div>
</div>
